@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
}

html,body{
    height: 100vh;
    width: 100vw;
}

.pad-x{
    padding:0px 30px;
}