.tittleAndLogoBox{
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
    padding: 0 30px;
}

.tittle,.time,.hours{
    margin:0;
    padding: 0;
    margin-bottom: -8px;
}

.tittleAndLogoBox .tittleBox .tittle{
    font-size: 24px;
    font-weight: 600;
}


.tittleAndLogoBox .tittleBox p{
    margin-top: 5px;
    font-size: 14px;
}

.tittleAndLogoBox .tittleBox .time{
    margin-bottom: -4px;
}

.tittleAndLogoBox .tittleBox .hours{
    border: 1px solid $white;
    border-radius: 43px;
    width: 137px;
    padding: 5px;
    text-align: center;
}

.tittleAndLogoBox .logoBox{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.tittleAndLogoBox .logoBox img{
    max-width: 93px;
    max-height: 95px;
}

/* Abierto o cerrado */
.tittleAndLogoBox .logoBox .openClose{
    padding: 1px 5px;
    margin: 0;
    background: $lightOrange;
    border-radius: 158px;
    font-size: 14px;
    color: $redWine;
}

/* Estrella del ranking */
.tittleAndLogoBox .logoBox .ranking{

    padding: 0px 5px;
    margin: 0;
    background: $lightOrange;
    border-radius: 158px;
    font-size: 14px;
    color: $redWine;
}